.upper-home {
  z-index:6;
  box-shadow: 0 10px 1px rgb(7, 9, 15), 0px 20px 1px rgb(13, 16, 26), 0px 30px 1px rgb(18, 22, 36);
  background-color: var(--very-high-contrast);
  position:relative;
  padding: 50px 0;
  /* padding-bottom:80px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: margin-top 1s ease, box-shadow 0.5s 0.8s;
}

.main-buttons {
  /* margin-top: 60px; */
  width: 230px;
  align-self: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-grow: 0;
}

.upper-home.expanded {
  box-shadow: none;
}

.expand-posts {
  /* transition: visibility 0.9s linear 0.9s, opacity 0.4s ease-out 0.8s, transform 1s ease-out; */
  transition: visibility 0.9s linear 0.9s, opacity 0.4s ease-out 0.8s, transform 1s cubic-bezier(1,0,1,.63);
  cursor: pointer;
  transform: rotateZ(-45deg)
}

.expand-posts.expanded {
  visibility: none;
  opacity:0;
  transform: translateY(-80px) rotateZ(-45deg)
}