.icon-display-href {
  width: 1em;
  margin-right: 0.3em;
  filter: brightness(0) invert(1);

  font-size: var(--font-default);
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* width: max-content; */
  color: var(--high-contrast);
  margin-top: 5px;
  text-decoration: none;
}

.icon-display-href:hover {
  text-decoration: underline;
}