@media only screen and (min-width: 900px) {
  .article {
    margin: 0 auto;
    width: min(75%, 900px);
  }
  .last-updated-date{
    transform: translateX(50%);
    right: 50%;
  }
  .article-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .article-title {
    animation: 400ms ease 0ms 1 slide-down-1;
  }
  .details{
    animation: 400ms ease 0ms 1 slide-down-2;
  }
  .p {
    text-align: justify;
    text-align-last: center;
  }
  .o-list {
    width: min(55%, 500px);
    margin: 0 auto;
  }
}

@media only screen and (max-width: 900px) {
  .article {
    padding:10px 5%;
  }
  .last-updated-date{
    right: 0;
  }
  .article-header {
    animation: 400ms ease 0ms 1 slide-down-1;
    flex-direction: row;
    justify-content: space-around;
  }
  .p {
    text-align:left;
  }
}

.li {
  margin-bottom: 0.3em
}

.p2 {
  text-align:left;
}

.article {
  font-size: var(--font-default);
  font-family:"Jost";
  background-color: var(--background-color);
  color:var(--primary-color);
  /* overflow-y:; */
  /* overflow-x:hidden; */
  min-height: calc(100% - 20px);
  animation: 400ms ease 0s 1 fade-in;
  padding-bottom: 100px;
  height:max-content;
  min-height:max-content;
}

.article p{
  font-size: var(--font-default);
}


.article-header {
  display: flex;
  margin:30px 0;
}

.article-title {
  flex-grow:1;
  font-family:"Space Grotesk Semibold";
  color:rgb(225, 226, 235);
  font-size:var(--font-title);
}

.details {
  margin:0 10px;
  min-width:max-content;
  display: flex;
  align-items: center;
  font-family:"Jost";
  font-size:var(--font-default);
  color:var(--primary-color);
}

.last-updated {
  position:relative;
  font-size:var(--font-default);
  transition: visibility 0ms ease 200ms;
  z-index:2;
}

.last-updated > .last-updated-date {
  top: 0;
  position: absolute;
  opacity:0;
  visibility: hidden;
  transition: opacity 500ms ease 0ms, visibility 0s ease 180ms;
  z-index:3;
}

.last-updated:hover{
  visibility:hidden;
}

.last-updated:has(.last-updated-date:hover) {
  visibility:hidden;
}

.last-updated:hover .last-updated-date{
  visibility:visible;
  opacity:1;
}

/* unused */
.author {
  display:none;
  color:rgb(225, 226, 235);
  opacity:0.7;
  position:relative;
}

.inline-image {
  position:relative;
}

.inline-image > img {
  position:relative;
  bottom:2px;
  vertical-align:middle;
  height: 1em;
  opacity: 0.75;
  /* object-fit: cover; */
  padding: 1px;
  border-width:1.6px;
  border-color: var(--contrast);
  border-style: dashed;
  width:auto;
}

.inline-image.large > img:hover ~ .enlarged{
  opacity: 1;
  height: 100px;
  visibility:visible;
}

.inline-image > img:hover ~ .enlarged {
  opacity: 1;
  height: 30px;
  visibility:visible;
}

.inline-image > .enlarged {
  opacity:0.8;
  z-index:9;
  visibility: hidden;
  pointer-events: none;
  transition:height 70ms ease-out 300ms, visibility 70ms ease-out 300ms, border-width 70ms ease-out 300ms, opacity 600ms ease-in;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  position:absolute;
  border-width: 2px;
  border-style: dashed;
}

.inline-image > .enlarged:hover {
  opacity:1;
}

.video {
  display: block;
  border: 2px dashed white;
  width: min(500px, 100%);
  margin: auto;
}

.video-ext {
  display: block;
  margin: auto;
  width: min(500px, 100%);
}

.image {
  margin: auto;
  border: 1px dashed white;
  display: block;
}

.distinct {
  word-break:break-all;
  user-select: all;
  font-family: "Atkinson Hyperlegible";
  color:var(--contrast);
}

.note .distinct {
  color:var(--high-contrast-dark);
}

.code-container {
  position:relative;
  height:max-content;
  max-width:max-content;
}
.code-container.wide {
  max-width: none;
}

.code {
  font-family: "Iosevka SS07 Web";
  font-size:var(--font-default);
  padding:3px;
  border-radius:3px;
  overflow-x: auto;
  padding:8px 8px;
  padding-bottom: 5px;
  max-width:100%;
}


/* width */
.code::-webkit-scrollbar {
  /* width: 3px; */
  height:8px;
}

/* Track */
.code::-webkit-scrollbar-track {
  background: transparent;
  border-radius:3px;
}

/* Handle */
.code::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius:3px;
}

/* Handle on hover */
.code::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

.code-background {
  z-index:-1;
  background: #2E3440;
  width: 100%;
  position: absolute;
  height: 100%;
  border-radius:6px;
  top: 0;
  padding:0 10px;
  left: 50%;
  transform: translateX(-50%);
}

.code-background.wide {
  padding:0;
  width: calc(100vw - 1.4em);
  min-width: 100%;
}

.inline-code {
  user-select: all;
  font-family: "Iosevka SS07 Web";
  font-size:var(--font-default);
  color: var(--dark-background-color);
  padding:3px;
  border-radius:3px;
  background-color: var(--contrast);
}

.note .inline-code {
  color: darkorange;
  background-color: var(--contrast-dark);
}


.note-reference::after{
  content:"note";
}
.note-reference:hover{
  color:rgb(184, 101, 0);
}
.note-reference {
  color:var(--secondary-color);
  font-size:var(--font-extra-small);
  position:relative;
  vertical-align:middle;
  left:5px;
}

.note {
  line-height: 1.2;
  max-width:500px;
  min-width:3em;
  min-height:1em;
  font-family: "Atkinson Hyperlegible";
  color:var(--primary-color-dark);
  opacity:0;
  visibility:hidden;
  right:0;
  font-size:var(--font-note);
  z-index:10;
  overflow-wrap: break-word;
  hyphens: auto;

  border-radius:3px;
  padding:10px 10px 18px 10px;
  background:rgba(255, 175, 55, 0.75);
  position:absolute;
  backdrop-filter: blur(3px);

  transition: background-color 500ms ease 200ms, opacity 400ms ease-out;
  box-shadow: 5px 5px 7px 2px rgba(0, 0, 0, 0.25);
  clip-path: none;

  --note-corner-display: none;
  /* for touch screen so that the note doesn't keep stopping */
  touch-action:none;
}

.note:after {
  content:attr(note-num);
  position:absolute;
  font-size:var(--font-extra-small);
  bottom:5px;
  left:50%;
  transform: translateX(-50%);
}

/* note corner fold */
.note:before {
  backdrop-filter: blur(3px) saturate(1.1) brightness(80%);
  display: var(--note-corner-display);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 20px 20px 0;
  border-radius: 0 0 0 3px;
  border-style: solid;
  border-color: rgba(255, 153, 0, 0.4) #ffffff00;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25), -1px 1px 1px rgba(0,0,0,0.18);
}

.group {
  padding: 0;
  margin: 0;
}

.hyperlink {
  --download-link-background: rgb(159, 90, 216);
  color: var(--link);
  text-decoration: none;
  position:relative;
  text-underline-offset: 0;
  transition: color 200ms 50ms, text-decoration-color 350ms ease, text-underline-offset 200ms ease-out 50ms;
  text-decoration: underline 2px transparent;
}

.hyperlink:hover {
  text-decoration-color: var(--contrast);
  color: var(--high-contrast);
  text-underline-offset: 3px;
}


@keyframes fade-in {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes slide-down-1 {
  0% {
    transform: translateY(-70px);
  }
  10% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down-2 {
  0% {
    transform: translateY(-30px);
  }
  40% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}