.posts-container {
  z-index:6;
  width:100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  flex-grow:1;
  padding: 50px 0;
}

.posts-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 18em;
}

.posts {
  min-width: 12em;
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow:1;
  padding-bottom:50px;
}

@media only screen and (min-width: 900px) {
  .posts {
    max-width:30em;
  }
}

@media only screen and (max-width: 900px) {
  .posts {
    max-width: 25em;
  }
}

.nothing {
  margin-top: 26px;
  font-size: var(--font-extra-large);
  color: var(--secondary-color);
  font-family: 'Jost', sans-serif;
}

.load-more-container {
  /* width:100%; */
  /* position: absolute; */
  position:fixed;
  bottom: -24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 200ms ease;
}

.load-more {
  z-index:100;
  color: var(--contrast);
  border-radius: 10px;
  cursor: pointer;
  width: max-content;
  margin: 0 auto;
  text-shadow: rgb(13, 16, 26, 0.7);
}

.num-posts {
  position:relative;
  bottom:-6px;
  font-family: 'Outfit';
  font-size:var(--font-large);
  color: var(--contrast);
}

/* width */
.posts-container::-webkit-scrollbar {
  width:8px;
  padding-top:10px;
}

/* Track */
.posts-container::-webkit-scrollbar-track {
  background: transparent;
  border-radius:3px;
  padding-top:10px;
}

/* Handle */
.posts-container::-webkit-scrollbar-thumb {
  padding-top:10px;
  background: var(--contrast);
  border-radius:3px;
}

/* Handle on hover */
.posts-container::-webkit-scrollbar-thumb:hover {
  background: var(--high-contrast);
}