@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Berkeley Mono";
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("../public/assets/fonts/BerkeleyMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Jost";
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("../public/assets/fonts/Jost-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  font-stretch: normal;
  font-style: normal;
  src: url("../public/assets/fonts/Lora-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Merriweather";
  font-stretch: normal;
  font-style: normal;
  src: url("../public/assets/fonts/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-stretch: normal;
  font-style: normal;
  src: url("../public/assets/fonts/AtkinsonHyperlegible-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Iosevka-SS14-extended";
  font-stretch: normal;
  font-style: normal;
  src: url("../public/assets/fonts/iosevka-ss14-extended.woff2") format("woff2");
}

@font-face {
  font-family: "Space Grotesk Semibold";
  font-stretch: normal;
  font-style: normal;
  src: url("../public/assets/fonts/SpaceGrotesk-SemiBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Space Grotesk Medium";
  font-stretch: normal;
  font-style: normal;
  src: url("../public/assets/fonts/SpaceGrotesk-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Space Grotesk Light";
  font-stretch: normal;
  font-style: normal;
  src: url("../public/assets/fonts/SpaceGrotesk-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Space Grotesk";
  font-stretch: normal;
  font-style: normal;
  src: url("../public/assets/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit";
  font-stretch: normal;
  font-style: normal;
  src: url("../public/assets/fonts/Outfit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka SS07 Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("../public/assets/fonts/IosevkaSS07-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka SS07 Web Light";
  font-display: swap;
  font-stretch: normal;
  font-style: normal;
  src: url("../public/assets/fonts/IosevkaSS07-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Lexend Deca";
  font-stretch: normal;
  font-style: normal;
  src: url("../public/assets/fonts/LexendDeca-Regular.ttf") format("truetype");
}

@media only screen and (min-width: 900px) {
  :root {
    --font-title: 36px;
    --font-extra-large: 27px;
    --font-large: 22px;
    --font-default: 19px;
    --font-smallish: 17px;
    --font-small: 16px;
    --font-extra-small: 14px;

    --font-note: 16px;
  }
}
@media only screen and (max-width: 900px) {
  :root {
    --font-title: 31px;
    --font-extra-large: 24px;
    --font-large: 19px;
    --font-default: 17px;
    --font-smallish: 15px;
    --font-small: 14px;
    --font-extra-small: 12px;

    --font-note: 15px;
  }
  #article {
    padding: 20px 10px;
  }
}

:root {
  --more-line-width: 0px;
  --more-line-height: 0px;
  --more-line-animation-name: oscillating-opacity;
}

body,
html {
  font-size: var(--font-default);
  min-width: 24em;
  height: 100%;
  overflow: visible;
  background-color: var(--dark-background-color);
}

body {
  margin: 0;
  margin-top: -1px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  font-family: "Jost", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  transition: transform 200ms ease, font-size 100ms ease,
    background-color 200ms ease, color 50ms ease;
}

.toolbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 16px;
  padding-top: 16px;
  bottom: 0;
  z-index: 10;
  color: var(--primary-color);
  /* color: red; */
  pointer-events: none;

  background: linear-gradient(
    0deg,
    color-mix(in srgb, var(--dark-background-color) 30%, transparent) 0%,
    color-mix(in srgb, var(--dark-background-color) 10%, transparent) 50%,
    transparent
  );
  backdrop-filter: blur(0.5px);
}
.toolbar * {
  pointer-events: all;
}
.toolbar svg {
  filter: drop-shadow(1px 1px 3px var(--dark-background-color));
}

/* width */
body::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  padding-top: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
  padding-top: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  padding-top: 10px;
  background: var(--contrast);
  border-radius: 3px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: var(--high-contrast);
}

/* * {
  outline: 1px solid #f00 !important;
} */