@font-face {
  font-family: 'Jost';
	font-weight: 400;
  font-stretch: normal;
	font-style: normal;
	src: url('../public/assets/fonts/Jost-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-stretch: normal;
	font-style: normal;
	src: url('../public/assets/fonts/Lora-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-stretch: normal;
	font-style: normal;
	src: url('../public/assets/fonts/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-stretch: normal;
	font-style: normal;
	src: url('../public/assets/fonts/AtkinsonHyperlegible-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka-SS14-extended';
	font-stretch: normal;
	font-style: normal;
	src: url('../public/assets/fonts/iosevka-ss14-extended.woff2') format('woff2');
}

@font-face {
	font-family: 'Space Grotesk Semibold';
	font-stretch: normal;
	font-style: normal;
	src: url('../public/assets/fonts/SpaceGrotesk-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Space Grotesk Medium';
	font-stretch: normal;
	font-style: normal;
	src: url('../public/assets/fonts/SpaceGrotesk-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Space Grotesk Light';
	font-stretch: normal;
	font-style: normal;
	src: url('../public/assets/fonts/SpaceGrotesk-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Space Grotesk';
	font-stretch: normal;
	font-style: normal;
	src: url('../public/assets/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Outfit';
	font-stretch: normal;
	font-style: normal;
	src: url('../public/assets/fonts/Outfit-Regular.ttf') format('truetype');
}



@media only screen and (min-width: 900px) {
  :root {
    --font-title:34px;
    --font-extra-large:25px;
    --font-large:20px;
    --font-default: 18px;
    --font-smallish: 16px;
    --font-small:14px;
    --font-extra-small:12px;

    --font-note:15px;
  }
}
@media only screen and (max-width: 900px) {
  :root {
    --font-title:30px;
    --font-extra-large:24px;
    --font-large:19px;
    --font-default: 17px;
    --font-smallish: 14px;
    --font-small:13px;
    --font-extra-small:11px;

    --font-note:15px;
  }
  #article {
    padding:20px 10px;
  }
}

:root {
   --light-background-color:white;
   --dark-background-color:rgb(21, 26, 41);

   --primary-color:rgb(173, 176, 187);
   --secondary-color:rgb(120, 123, 134);
   --link: rgb(180, 124, 231);
   --contrast: rgb(216, 220, 230);
   --high-contrast: rgb(239, 243, 255);
   --very-high-contrast: white;

   --primary-color-dark: rgb(20, 19, 19);
   --contrast-dark: rgb(40, 41, 44);
   --high-contrast-dark: black;
   --link-dark: rgb(28, 35, 102);

   --more-line-width:0px;
   --more-line-height:0px;
   --more-line-animation-name: oscillating-opacity;
}

body,html{
  min-width:24em;
  height:100%;
  overflow-y: hidden;
}

body {
  background-color: var(--dark-background-color);
  margin:0;
  margin-top:-1px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  font-family: 'Jost', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  transition: transform 200ms ease, font-size 100ms ease;
}

.toolbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:100%;
  padding-bottom:16px;
  bottom: 0;
  z-index:10;

  background: linear-gradient(0deg, rgb(13, 16, 26, 0.7) 0%, rgb(13, 16, 26, 0.2) 60%, rgb(13, 16, 26, 0.1) 75%, transparent);
  backdrop-filter: blur(0.2px);
}
