.display {
  font-size: var(--font-smallish);
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: max-content; */
  color: var(--primary-color);
  text-decoration: none;
  padding:0;

}

.display:visited {
  text-decoration: line-through;
}

.display:hover {
  text-decoration: underline;
}

.icon {
  fill: var(--high-contrast);
}

.display > .icon {
  filter: contrast(0.4);
  margin-right: 0.3em;
}